body { margin: 10px; }

img {
    width: 100%;
    height: 60%;
    border : 1px solid black !important;
}

.card {
    height: 500px;
    max-width: 100%;
}

.card-text, .collapse { word-wrap: break-word; }
